<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css link -->
    <link rel="stylesheet" href="../css/output.css">

    <!-- icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap" rel="stylesheet">

    <title>Taxiq</title>
</head>
<body id="top" class="bg-white text-3xl">

    <header  class="h-full w-full mb-10" style="background: url('../img/noubequbqck.png') no-repeat center center / cover;">
        <!-- 
            NAVBAR
         -->
        <nav class="bg-transparent w-full px-16 duration-250 cubic-in flex justify-between md:">
            <a href="#" aria-label="Page d'accueil du site" class="pt-8">
                <span class="text-black font-bold text-3xl items-center" aria-hidden="true">
                    Tax<strong><span class="text-lime-500">IQ</span></strong>
                </span>
            </a>

            <ul id="toggle-menu" class="text-gray-800 border-gray-200 flex items-center">
                <li class=" md:py-0 md:mr-6">
                    <a href="#" class="text-black font-Popins text-sm font-semibold w-full  my-8 hover:text-lime-500">
                        <div class="flex flex-col items-center">
                            <i class='bx bxs-home'></i>
                            <p>accueil</p>
                        </div>
                    </a>
                </li>
                <li class="py-4 md:py-0 md:mr-6"> 
                    <a href="#" class="text-sm text-black font-Popins font-semibold w-full  my-8 hover:text-lime-500">
                        <div class="flex flex-col items-center">
                            <i class='bx bxs-dollar-circle'></i>
                            <p>services</p>
                        </div>
                    </a>
                </li>
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="#" class="text-sm text-black font-Popins font-semibold w-full  my-8 hover:text-lime-500">
                        <div class="flex flex-col items-center">
                            <i class='bx bx-chat'></i>
                            <p>Informations</p>
                        </div>
                    </a>
                </li>
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="#" class="text-sm text-black font-Popins font-semibold w-full  my-8 hover:text-lime-500">
                        <div class="flex flex-col items-center">
                            <i class='bx bx-help-circle' ></i>
                            <p>aide</p>
                        </div>
                    </a>
                </li>
                <li class="py-4 md:py-0 md:mr-6">
                    <a href="#" class="text-sm text-black font-Popins font-semibold w-full">
                        <div class="flex flex-col items-center border-2 border-solid border-lime-500  py-2 px-10 rounded-full ml-8 bg-lime-500 text-black transition duration-300 ease-in-out hover:bg-none  my-8">
                            <i class='bx bx-horizontal-right'></i>
                            <p>connexion</p>
                        </div>
                    </a>
                </li> 
            </ul>
        </nav>

        <!-- 
            PREMIERE SECTION DE PRESENTATION
         -->
        <section class="mt-6">
            <div class="px-16  flex">
                <div class="mb-10">

                    <p class="text-black font-Popins text-2xl mb-4">Un Calcul Précis Et adapté à Votre Pays</p>
        
                    <h2 class="font-poppins font-bold text-7xl mb-4">TaxIQ, La Solution Fiscale Rapide Et A Porter De Clic</h2>
        
                    <p class="text-black font-Popins mb-4">
                        TaxIQ est une application de calcul d'impôts intelligente, conçue pour simplifier la gestion des obligations fiscales personnelles et professionnelles. </p>
        
                    <button class="flex flex-col items-center border-2 border-solid border-lime-500  py-2 px-10 rounded-full ml-8  text-black transition duration-300 ease-in-out hover:bg-black  my-8 hover:text-lime-500">En Appendre Plus</button>
        
                </div>
                <figure>
                    <img src="../img/map.png" width="694" height="529" loading="lazy" alt="hero-banner" class="w-100">
                </figure>
            </div>
        </section>
    </header>



    <!-- MAIN -->
    <main>
        <article>

            <!-- 
                Pourquoi choisir TaxIQ 
            -->

            <section class="mt-10 mx-8">
                <div class=" mt-6 flex">
                    <!-- <div class="mb-10">
                        <img src="../img/img1.svg" alt="">
                    </div> -->

                    <div class="mb-4">
                        <h2 class=" ml-20 relative group text-4xl font-bold  ">
                            pourquoi choisir  Tax<strong><span class="text-lime-500">IQ</span></strong> ?
                            <span class=" absolute bottom-[-25px] left-48 transform -translate-x-1/2 w-48 h-2 bg-gradient-to-r from-gray-500 via-gray-700 to-black rounded-full"></span>
                        </h2>

                        <div class="mt-20 columns-3">
                            <div class="bg-white p-4 shadow-lg border rounded-lg ">
                                <div class="flex justify-center">
                                    <div class=' mx-auto w-14 border-2 border-solid border-lime-500 p-15 rounded-full items-center' style="background: linear-gradient(  rgb(255, 255, 255),rgb(87, 85, 85));">1</div>
                                </div>
                                <div>
                                    <h3 class="text-2xl font-bold">TaxIQ offre des calculs fiscaux précis </h3>
                                    <p class="font-medium text-sm">
                                        basés sur votre lasituation financière actuelle en fonction de votre pays, prenant en compte les dernières réglementations fiscales.
                                    </p>
                                </div>
                            </div>

                            <div class="mt-20 bg-white p-4 shadow-lg border rounded-lg ">
                                <div>
                                    <h3 class="text-2xl font-bold">Calendrier Fiscal</h3>
                                    <p class="font-medium text-sm">
                                        Recevez des rappels de dates limites pour ne jamais manquer une
                                        échéance fiscale importante.
                                    </p>
                                </div>
                                <div class="pt-4 flex justify-center">
                                    <div class='mx-auto w-14 border-2 border-solid border-lime-500 p-15 rounded-full items-center' style="background: linear-gradient(  rgb(255, 255, 255),rgb(87, 85, 85));">2</div>
                                </div>
                            </div>

                            <div class="bg-white p-4 shadow-lg border rounded-lg">
                                <div class="pb-4 flex justify-center">
                                    <div class=' mx-auto w-14 border-2 border-solid border-lime-500 p-15 rounded-full items-center' style="background: linear-gradient(  rgb(255, 255, 255),rgb(87, 85, 85));">3</div>
                                </div>
                                <div class="pb-4">
                                    <h3 class="text-2xl font-bold">Guides et Conseils </h3>
                                    <p class="font-medium text-sm">
                                        Accédez à des guides fiscaux complets et à des conseils personnalisés pour optimiser vos déclarations fiscales et maximiser vos économies.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="flex justify-center">
                <div class="mx-auto">
                    <img src="../img/feautres-banner.png" alt="">
                </div>
            </section>
            

            <section class="mx-8">
                <h2 class=" mb-20 relative group text-4xl font-bold  ">
                    Les <strong><span class="text-lime-500">Fonctionnalités</span></strong> Clés
                    <span class=" absolute bottom-[-25px] left-48 transform -translate-x-1/2 w-48 h-2 bg-gradient-to-r from-gray-500 via-gray-700 to-black rounded-full"></span>
                </h2>
                <div class="columns-2">
                    
                    <div>
                        <div class="flex mb-2">
                            <div class="pr-4 w-48 h-48">
                                <i class='bx bxs-dollar-circle border-2 border-solid border-lime-500 p-15 rounded-full items-center' style="background: linear-gradient(  rgb(255, 255, 255),rgb(87, 85, 85));"></i>
                            </div>
                            <div>
                                <h3 class="text-2xl font-bold">Expertise en Fiscalité et Législation Financière </h3>
                                <p class="font-medium text-sm">
                                    une solide compréhension des lois fiscales et des réglementations financières dans les pays où votre application sera utilisée est essentiel.
                                    Cela inclut la connaissance des taux d'imposition, des déductions fiscales, des exemptions et des exigences de déclaration.
                                </p>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="pr-4 w-48 h-48">
                                <i class='bx bx-analyse border-2 border-solid border-lime-500 p-15 rounded-full items-cente' style="background: linear-gradient(  rgb(255, 255, 255),rgb(87, 85, 85));"></i>
                            </div>
                            <div>
                                <h3 class="text-2xl font-bold">Analyse et Modélisation Financière  </h3>
                                <p class="font-medium text-sm">
                                    modéliser des scénarios fiscaux complexes et de réaliser des analyses financières approfondies est crucial. Cela implique des compétences en modélisation financière, en analyse de rentabilité et en prévision budgétaire.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="mb-10">
                        <img class="h-100 w-100"  src="" alt="">
                    </div>

                    <div>
                        <div class="flex mb-2">
                            <div class="pr-4 w-48 h-48">
                                <i class='bx bxs-lock-alt border-2 border-solid border-lime-500 p-15 rounded-full items-cente'style="background: linear-gradient(  rgb(255, 255, 255),rgb(87, 85, 85));"></i>
                            </div>
                            <div>
                                <h3 class="text-2xl font-bold">Sécurité Financière et Protection des Données  </h3>
                                <p class="font-medium text-sm">
                                    sécurité financière est primordiale. Il faut avoir des connaissances approfondies en matière de cybersécurité, en particulier pour les transactions financières et les données sensibles. La protection des données des utilisateurs est une priorité et doit être conforme aux normes de l'industrie.
                                </p>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="pr-4 w-48 h-48">
                                <i class='bx bx-phone-incoming border-2 border-solid border-lime-500 p-15 rounded-full items-cente' style="background: linear-gradient(  rgb(255, 255, 255),rgb(87, 85, 85));"></i>
                            </div>
                            <div>
                                <h3 class="text-2xl font-bold">Communication et Service Client </h3>
                                <p class="font-medium text-sm">
                                    La capacité à communiquer clairement les résultats fiscaux aux utilisateurs, souvent sans formation fiscale, est importante. Une bonne communication et un excellent service client sont essentiels pour aider les utilisateurs à comprendre leurs obligations fiscales et les résultats générés par l'application.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- 
                FORUM ET NEWS
            -->

            <section class="mx-8">
                <h2 class="relative group text-4xl font-bold mb-20">
                    F<strong><span class="text-lime-500">o</span></strong>rum & Ne<strong><span class="text-lime-500">w</span></strong>s
                    <span class="absolute bottom-[-25px] left-48 transform -translate-x-1/2 w-48 h-2 bg-gradient-to-r from-gray-500 via-gray-700 to-black rounded-full"></span>
                </h2>
                <div class=" pt-20 grid grid-rows-2 grid-flow-col gap-4 pt-8">
                    <!-- Premier élément dans la première ligne et première colonne -->
                    <div class="bg-white p-4 shadow-lg border rounded-lg flex items-center">
                        <div class="mr-4">
                            <img class="rounded-lg h-48 w-100 object-cover " src="../img/blog-1.jpg" alt="">
                        </div>
                        <div class="py-0">
                            <a href="" class="text-slate-700 dark:text-slate-500 text-lg font-medium">
                                Fiscalité dans les Pays Africains
                            </a>
                            <p class="text-base font-normal mb-2">
                                Dans le contexte économique complexe des pays africains tels que le Mali, le Togo et le Sénégal, la fiscalité joue un rôle crucial. <br /> Ces nations font face à des défis uniques liés à la collecte des impôts, à la régulation fiscale et à la promotion du développement économique. Le Mali
                            </p>
                            <div class="flex justify-between font-medium text-base">
                                <div>
                                    <i class='bx bx-time-five'></i>
                                    13 Octobre 2023
                                </div>
                                <div class="flex items-center space-x-4">
                                    <div>
                                        <i class='bx bx-message-rounded'></i>
                                    </div>
                                    <div>
                                        <i class='bx bx-share-alt'></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!-- Deuxième élément dans la première ligne et deuxième colonne -->
                    
                    <div class="bg-white p-4 shadow-lg border rounded-lg flex items-center">
                        <div class="mr-4">
                            <img class="rounded-lg h-48 w-100 object-cover" src="../img/blog-1.jpg" alt="">
                        </div>
                        <div class="py-0">
                            <a href="" class="text-slate-700 dark:text-slate-500 text-lg font-medium">
                                Fiscalité dans les Pays Africains
                            </a>
                            <p class="text-base font-normal mb-2">
                                Dans le contexte économique complexe des pays africains tels que le Mali, le Togo et le Sénégal, la fiscalité joue un rôle crucial. <br /> Ces nations font face à des défis uniques liés à la collecte des impôts, à la régulation fiscale et à la promotion du développement économique. Le Mali
                            </p>
                            <div class="flex justify-between font-medium text-base">
                                <div>
                                    <i class='bx bx-time-five'></i>
                                    13 Octobre 2023
                                </div>
                                <div class="flex items-center space-x-4">
                                    <div>
                                        <i class='bx bx-message-rounded'></i>
                                    </div>
                                    <div>
                                        <i class='bx bx-share-alt'></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Troisième élément dans la deuxième ligne et première colonne -->
                    <div class="bg-white p-4 shadow-lg border rounded-lg flex items-center">
                        <div class="mr-4">
                            <img class="rounded-lg h-48 w-100 object-cover" src="../img/blog-1.jpg" alt="">
                        </div>
                        <div class="py-0">
                            <a href="" class="text-slate-700 dark:text-slate-500 text-lg font-medium">
                                Fiscalité dans les Pays Africains
                            </a>
                            <p class="text-base font-normal mb-2">
                                Dans le contexte économique complexe des pays africains tels que le Mali, le Togo et le Sénégal, la fiscalité joue un rôle crucial. <br /> Ces nations font face à des défis uniques liés à la collecte des impôts, à la régulation fiscale et à la promotion du développement économique. Le Mali
                            </p>
                            <div class="flex justify-between font-medium text-base">
                                <div>
                                    <i class='bx bx-time-five'></i>
                                    13 Octobre 2023
                                </div>
                                <div class="flex items-center space-x-4">
                                    <div>
                                        <i class='bx bx-message-rounded'></i>
                                    </div>
                                    <div>
                                        <i class='bx bx-share-alt'></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                
                    <!-- Quatrième élément dans la deuxième ligne et deuxième colonne -->
                    <div class="bg-white p-4 shadow-lg border rounded-lg flex items-center">
                        <div class="mr-4">
                            <img class="rounded-lg h-48 w-100 object-cover" src="../img/blog-1.jpg" alt="">
                        </div>
                        <div class="py-0">
                            <a href="" class="text-slate-700 dark:text-slate-500 text-lg font-medium">
                                Fiscalité dans les Pays Africains
                            </a>
                            <p class="text-base font-normal mb-2">
                                Dans le contexte économique complexe des pays africains tels que le Mali, le Togo et le Sénégal, la fiscalité joue un rôle crucial. <br /> Ces nations font face à des défis uniques liés à la collecte des impôts, à la régulation fiscale et à la promotion du développement économique. Le Mali
                            </p>
                            <div class="flex justify-between font-medium text-base">
                                <div>
                                    <i class='bx bx-time-five'></i>
                                    13 Octobre 2023
                                </div>
                                <div class="flex items-center space-x-4">
                                    <div>
                                        <i class='bx bx-message-rounded'></i>
                                    </div>
                                    <div>
                                        <i class='bx bx-share-alt'></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 
                SERVICES
             -->

            <section class="px-16 pt-8">
                <h2 class="relative group text-4xl font-bold my-8">
                    Nos Servi<strong><span class="text-lime-500">c</span></strong>es
                    <span class="absolute bottom-[-25px] left-48 transform -translate-x-1/2 w-48 h-2 bg-gradient-to-r from-gray-500 via-gray-700 to-black rounded-full"></span>
                </h2>
                <div class=" py-20 columns-2 text-center items-center">
                    <!-- 
                        Premier élément dans la première ligne et première colonne
                     -->

                    <div class="bg-white p-4 shadow-lg border rounded-lg">
                        <div class="mx-48 w-48 items-center">
                            <img class="rounded-lg h-48 text-center" src="../img/irpp.png" alt="">
                        </div>
                        <div class="py-0">
                            <h2 class="text-4xl font-bold py-8">
                                Impôts sur Salaire
                            </h2>

                            <p class="text-base font-medium pb-4"> 
                                L'impôt sur le salaire, également connu sous le nom d'impôt sur le revenu ou impôt sur le revenu des personnes physiques (IRPP), est un impôt prélevé par un gouvernement sur les revenus des individus. C'est l'une des principales sources de revenus pour de nombreux gouvernements à travers le monde.
                            </p>

                            <a href="#" class="text-sm text-black font-Popins font-semibold w-full">
                                <div class="flex flex-col items-center border-2 border-solid border-lime-500  py-2 px-10 rounded-full ml-8  text-black transition duration-300 ease-in-out hover:bg-black  my-8 hover:text-lime-500">
                                    <p>Débuter</p>
                                </div>
                            </a>
                        </div>
                    </div>
            
                    <!-- 
                        Deuxième élément dans la première ligne et deuxième colonne
                     -->
                
                    <div class="bg-white p-4 shadow-lg border rounded-lg">
                        <div class="mx-48 w-48 items-center">
                            <img class="rounded-lg h-48 text-center" src="../img/is.png" alt="">
                        </div>
                        <div class="py-0">
                            <h2 class="text-4xl font-bold py-8">
                                Impôts Des Sociétés
                            </h2>

                            <p class="text-base font-medium pb-4"> 
                                L'impôt sur les sociétés est un impôt prélevé sur les bénéfices des entreprises et des sociétés. Contrairement à l'impôt sur le revenu des particuliers, qui est basé sur les revenus des personnes physiques, l'impôt sur les sociétés concerne les bénéfices réalisés par les entreprises, les sociétés aet d'autres entités juridiques.
                            </p>

                            <a href="#" class="text-sm text-black font-Popins font-semibold w-full">
                                <div class="flex flex-col items-center border-2 border-solid border-lime-500  py-2 px-10 rounded-full ml-8  text-black transition duration-300 ease-in-out hover:bg-black  my-8 hover:text-lime-500">
                                    <p>Débuter</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 
                NEWSLETTER
            -->

            <section class="px-16 mb-0">
                <h2 class="relative group text-4xl font-bold ">
                    Inscrivez-vous à notre  <strong><span class="text-lime-500">Newsletter</span></strong>rum 
                    <span class="absolute bottom-[-25px] left-48 transform -translate-x-1/2 w-48 h-2 bg-gradient-to-r from-gray-500 via-gray-700 to-black rounded-full"></span>
                </h2>
                <!-- <div class="w-full h-12 mt-7 mx-0 ">
                    <input class="w-full h-full rounded-lg outline-none border border-solid border-gray-600 rounded-3xl text-base font-normal py-0 px-4 border-b border-gray-400 focus:border-lime-500 focus:border-b-2" type="password" name="password1" placeholder="Password">
                </div> -->
                <div class="flex items-center justify-center py-20">
                    <div class="w-2/4 h-12 mx-0 ">
                        <input class="shadow-lg w-full h-full rounded-full outline-none border border-solid border-gray-600 rounded-3xl text-base font-normal py-0 px-4 border-b border-gray-400 focus:border-lime-500 focus:border-b-2" type="password" name="password1" placeholder="Password">
                    </div>
                    <a href="#" class="text-sm text-black font-Popins font-semibold">
                        <div class="flex flex-col items-center border-2 border-solid border-lime-500 py-2 px-10 rounded-full ml-8  text-black transition duration-300 ease-in-out hover:bg-black hover:text-lime-500">
                            <p>envoyez</p>
                        </div>
                    </a>
                </div> 
            </section>

        </article>
    </main>

    <!-- FOOTER -->
    <footer class=" px-16 flex flex-col h-full w-full mb-10" style=" background: url('../img/hero-bg.png') no-repeat, linear-gradient(rgb(0, 0, 0), rgb(253, 251, 251)); background-size: cover;">
        <div class="flex">
            <div class="">
                <img src="../static/img/logonew.png" alt="" class="w-40px">
            </div>
            <div class="grid grid-cols-4 gap-4">
                <div class="bloc footer-service">
                    <h3 class=" mt-4 relative group text-2xl font-bold  text-lime-500"> informations </h3>
                    <ul class=" font-medium text-base mt-4 list-service">
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Comment ça marche</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Faq</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Qui sommes nous</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Services</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Forum</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Bog</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Aide</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Contact</a></li>
                    </ul>
                </div>

                <div class="bloc footer-service">
                    <h3 class=" mt-4 relative group text-2xl font-bold  text-lime-500"> Ressources fiscales  </h3>
                    <ul class=" font-medium text-base mt-4 list-service">
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Bénin</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Burkina Faso</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Guinée-Bissau</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Mali</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Niger</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Sénégal</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">Togo</a></li>
                    </ul>
                </div>

                <div class="bloc footer-service">
                    <h3 class=" mt-4 relative group text-2xl font-bold  text-lime-500"> Articles de blog </h3>
                    <ul class=" font-medium text-base mt-4 list-service">
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">L’importance de la formalisation</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">L’origine de le la fiscalité</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">A quoi sert les impôts</a></li>
                        <li class="pb-4"> <a href="" class=" my-8 hover:text-lime-500">C’est quoi le redressement fiscal</a></li>
                    </ul>
                </div>

                <div class="bloc footer-service">
                    <h3 class=" mt-4 relative group text-2xl font-bold text-lime-500 "> Information Légale </h3>
                    <ul class=" font-medium text-base mt-4 list-service">
                        <li class="pb-4"> <a href="" class=" hover:text-lime-500">politique de confidentialité </a></li>
                        <li class="pb-4"> <a href="" class=" hover:text-lime-500">Termes et conditions d’utilisations</a></li>
                        <li class="pb-4"> <a href="" class=" hover:text-lime-500">Politique de sécurité </a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class=" flex justify-between mt-4">
            <div class="flex" >
                <a href="" class=" py-4 :text-lime-500"><i class='bx bxl-facebook'></i></a>
                <a href="" class=" py-4 hover:text-lime-500"><i class='bx bxl-linkedin'></i> </a>
                <a href="" class=" py-4 hover:text-lime-500"><i class='bx bxl-twitter'></i> </a>
            </div>
            <p class="items-center text-base">copyright &copy;2023 TaxIQ.</p>
        </div>
    </footer>

    <!-- Javascript -->
    <script src="../js/script.js"></script>
</body>
</html>